.BorderTransition (@speed) {
  -webkit-transition : border @speed ease-out;
  -moz-transition : border @speed ease;
  -o-transition : border @speed ease;
  transition : border @speed ease;
}


.dropdown-styles(@regular, @hover) {
		font-family:@stack2;

		background-color:@regular !important;
		li {
			a {
				color:#fff;
				padding:7px;
				margin:@menu-margin;
				display:block;
				font-size:18px;
			}
			a:hover {
				background:@hover;
				margin:@menu-margin;
				border-radius:3px;
			}
		}
}

.border-radius(@radius) {
	border-radius:@radius;
	-webkit-border-radius:@radius;
	-moz-border-radius:@radius;
}