/*!
	Theme Name: Childress
	Bitbucket Theme URI: https://LeachCreative@bitbucket.org/LeachCreative/childress.git
!*/

@import "css/bootstrap.css";
@import "less/mixins.less";
@import "less/timeline.less";

/*****************************
	Clearfix
*****************************/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";		
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/*******************************
	Variables
*******************************/
	@stack : 'Rokkitt', serif;
	@stack2: 'Raleway', sans-serif;
	@footer-height: 180px;
	@h1-size : 48px;
	@h2-size : 36px;
	@blue:#34a8c8;
	@yellow:#e9a713;
	@dark-yellow:darken(@yellow, 5%);
	@gray:#555555;
	@footer-border: #707070;
	@dark-blue:#34a8c8;
	@green:#00b059;
	@purple:#2e3192;
	@dark-purple:#202265;
	@orange:#e67e22;
	@body:#555555;
	@menu-margin:0 5px;
	@menu-padding:10px 10px 10px 10px !important;
/*******************************
	Global
*******************************/
html, body {
	height:100%;
	font-family:@stack;
	img {
		max-width:100%;
	}
	b, strong{
		line-height:1.5em;
		font-size:20px;
	}
	p, {
		line-height:1.5em;
		font-size:18px;
		color:#555555;
		font-family:@stack2;
	}
	ul, ol {
		font-size:18px;
		color:#555555;
		font-family:@stack2;
	}
	.center {
		text-align:center;
	}
	h1 {
		font-family:@stack2;
	}
}

blockquote {
	border:0 !important;
	font-size:25px;
}
blockquote:before {
	top: 0;
	left: 10px;
	content: '\201C';
}
blockquote:after {
	bottom: 0;
	right: 10px;
	content: '\201D';
}
.quote-tag {
	padding:0 20px;
}
.divider {
	border-top:solid 1px #000;
	width:100%;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -@footer-height;
}
#push,#footer {
    height: @footer-height;
}
.navbar-static-top {
	border-width:0;
}
.navbar-collapse.in {
    overflow-y: visible;
}
nav.navbar {
	padding:0px;
	margin-bottom:0;
	background:#fff;
	border:0;	
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	.navbar-brand {
		padding:15px;
		height:auto;
	}

	.navbar-collapse {
		padding:0;
		.col-md-6.col-xs-12 {
			z-index:9999;
		}
		.nav-justified {
			//width:67%;
			float:left;
			margin-top:51px;
			margin-bottom:-2px;
			font-size:30px;
			font-family:@stack;
			color:#000;
			z-index:9999;
			li {
				a {
					text-align:left;
					padding:10px 0;
					.BorderTransition (0.7s);
					background:transparent;
				}
				a:hover {
					background:transparent;
					.BorderTransition (0.3s);
				}
				li.open {
					background:transparent;
					a {
						background:transparent;
					}
				}
			}
			li.active.menu-item-19, li.menu-item-19:hover, li.menu-item-19.open {
				border-bottom:solid 4px @dark-blue;
				.BorderTransition (0.3s);
				.dropdown-menu {
					.dropdown-styles(@dark-blue, @dark-blue);
				}
			}
			li.active.menu-item-23, li.menu-item-23:hover,li.menu-item-23.open {
				border-bottom:solid 4px @green;
				.BorderTransition (0.3s);
				.dropdown-menu {
					.dropdown-styles(@green, @green);
				}
			}
			li.active.menu-item-22, li.menu-item-22:hover, li.menu-item-22.open {
				border-bottom:solid 4px @purple;
				.BorderTransition (0.3s);
				.dropdown-menu {
					.dropdown-styles(@purple, @dark-purple);
				}
			}
			li.active.menu-item-20, li.menu-item-20:hover, li.menu-item-20.open {
				border-bottom:solid 4px @orange;
				.BorderTransition (0.3s);
				.dropdown-menu {
					.dropdown-styles(@orange, @orange);
				}
			}
			li.active.menu-item-18, li.menu-item-18:hover, li.menu-item-18.open {
				border-bottom:solid 4px @yellow;
				.BorderTransition (0.3s);
				.dropdown-menu {
					.dropdown-styles(@yellow, @dark-yellow);
				}
			}
			a {
				color:#000;
			}
		}
		.navbar-right {
			width:100%;
			text-align:left;
			.nav-social ul {
				display:block;
				list-style:none;
				margin:0;
				padding:0;
				margin:20px 0 5px;
				li {
					display:inline-block;
					margin:0 3px;
					a {
						display:block;
						
						text-align:left;
					}
				}
			}
			
			form {
				width:100%;
				display:inline-block;
				margin-top:0px;
				height:45px;
				overflow:hidden;
				font-family:@stack2;
				font-weight:normal;
				label {
					width:100%;
				}
				input[type="search"] {
					padding:3px 2%;
					line-height:30px;
					outline:0;
					background:#e2e2e2;
					border:0;
					width:100%;
					max-width:100%;
					margin-top:2px;
					margin-left:1px;
					font-size:20px;
					font-weight:normal;
					.border-radius(3px);
				}
				button {
					display:inline-block;
					background:transparent;
					padding:0;
					margin:0;
					outline:0;
					border:3px #000 solid;
					position:relative;
					right:0;
					top:-41px;
					margin-left:auto;
					left:~"calc(100% - 36px)";
					margin-bottom:-60px;
					border-radius:3px;
				}
			}
		}
	}
}

footer {
	background:#e2e2e2;
	border-bottom:solid 10px @footer-border;
	padding:30px;
	strong {
		font-family:@stack2;
		font-size:18px;
	}
	ul {
		display:block;
		margin:0;
		padding:0;
		list-style:none;
		font-size:16px;
		font-family:@stack2;
		li {
			margin:5px 0;
			a {
				color:@gray;
			}
		}
	}
}


/**********************************
	Home
**********************************/
.slider {
	min-height:550px;
	.slider-box {
		padding:50px 0;
		h1 {
			line-height:1.5em;
			font-size:@h1-size;
			font-family:@stack2;
			color:#333;
		}
		a.donate {
			margin:20px 0;
			padding:15px;
			font-size:25px;
			display:inline-block;
			background:@dark-blue;
			color:#fff !important;
			-moz-box-shadow: 0 0 30px 10px #888;
			-webkit-box-shadow: 0 0 30px 10px#888;
			box-shadow: 0 0 30px 10px #888;
		}
		a.donate:hover {
			background:darken(@dark-blue, 5%);
			text-decoration:none;
		}
	}
}
.mailing {
	background:@yellow;
	.subscribe {
		text-align:center;
		padding:15px 0 8px;
		font-size:20px;
		p {
			display:inline-block;
			font-size:28px;
			line-height:36px;
			color:#fff;
		}
		.submit-button-column {
			max-height:49px;
			text-align:right;
		}
		form {	
			font-family:@stack2;		
			input {
				display:inline;
				width:100%;
				padding: 2px 4%;
				border:0;
				.border-radius(3px);
			}
			button[type="submit"] {
				position:relative;
				outline:0;
				padding:0;
				margin:0;
				border:0;
				top:-33px;
				margin-bottom:-21px;
				border:solid 2px #000;
				display:inline-block;
				.border-radius(3px);
				img {
					vertical-align:top;
					
				}
			}
		}
	}
}
.three-call {
	.col-md-4 {
		padding:15px;
		margin:15px 0;
		overflow:hidden;
		img {
			display:block;
			width:100%;
			height:auto;
			.border-radius(3px);
		}
		p {
			text-align:center;
			margin:10px 0 0 0;
			padding:10px 0;
			font-family:@stack2;
			font-weight:600;
			a {
				color:#999
			}
		}
		.img-wrap {
			display:block;
		}
		.title {
			padding:10px;
			color:#fff;
			font-size:22px;
			font-weight:600;
			font-family:@stack2;
			display:block;
			position:absolute;
			bottom:10px;
			left:0;
			right:0;
			margin-left:auto;
			margin-right:auto;
			letter-spacing:1px;
		}
		/*.overlay {
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background:#000;
		}*/
		/*img {
			-webkit-filter: brightness(30%);
		}*/
		.project-overlay {
		    position: absolute;
		    top: 0;
		    width: 100%;
		    height: 100%;
		    background-color: rgba(0,0,0,0.25);
		    color: #fff;
		    padding: 50% 50% 0;
		    transition: background-color 0.5s ease;
		    .border-radius(3px);
		    
		}
		.project-overlay:hover {
			background-color: rgba(0,0,0,.0);
			transition: background-color 0.5s ease;
		}
		.img-overlay {
		    position: relative;
		    /*max-width: 360px; //whatever your max-width should be */
		}

	}
}
.page-title {
	padding:30px 0 30px;
	h1 {
		text-align:center;
		font-size:@h1-size;
		font-family:@stack2;
		color:@body;
	}
}
.page-title.left {
	h1 {
		text-align:left;
	}	
}
.title-image {
	text-align:center;
	padding:0 0 60px;
	h1 {
		font-size:@h1-size;
		color:@body;
		font-family:@stack2;
		margin:60px 0 30px;
	}
}
.embed-container { 
	position: relative; 
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
} 

.embed-container iframe,
.embed-container object,
.embed-container embed { 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.content {
	margin:30px 0;
}
.main-callout {
	padding:50px 0 30px;
	h1 {
		font-size:@h1-size;
		color:@body;
		line-height:1.5em;
		border-bottom:solid 1px #000;
	}
	p {
		font-size:30px;
		font-weight:300;
	}
	.col-md-1 ul {
		list-style:none;
		li:first-child {
			margin-top:0;
		}
		li {
			margin:10px 0;
		}
	}
}

.title-indented-copy {
	padding-bottom:40px;	
	h1 {
		text-align:center;
		font-size:@h1-size;
		color:@body;
		font-family:@stack2;
		margin:30px 0;
	}
	p {
		text-align:left;
		font-size:20px;
		font-family:@stack2	;
	}
}
.in-the-news {
	h1 {
		font-size:@h1-size;
		font-family:@stack2;
		color:@body;
		text-align:center;
		margin-top:60px;
	}
	h2 {
		font-family:@stack2;
		color:@body;
		font-size:@h2-size;
		text-align:center;	
	}
	.col-md-3 {
		margin:30px 0;
	}
	p {
		font-family:@stack2;
		margin:10px 0;
		text-align:center;
		font-weight:600;
	}
}

.list {
	margin-bottom:100px;
	h2 {
		font-size:@h2-size;
		font-family:@stack2;
		color:@body;
		a {
			font-size:@h2-size !important;
			color:#555;
		}
	}
	strong {
		font-size:18px;
		font-weight:strong;
	}
	p {
		font-size:18px;
		font-family:@stack2;
	}
	ul {
		font-size:18px;
		font-family:@stack2;
	}
	ol {
		font-size:18px;
		font-family:@stack2;
	}
	.wrapper {
		padding:20px 0;
		display:block;
	}
	a.readmore {
		font-weight:bold;
		font-family:@stack2;
		font-size:18px;
		color:#555;
	}
}
.repeater-block {
	.col-md-12 {
		border-top:solid 1px #000;
		margin:50px 0;
	}
	h2 {
		font-size:30px;
		line-height:1.5em;
		margin:30px 0;
		color:@body;
	}
	.references {
		padding-bottom:50px;
		text-align:center;
		ol {
			list-style-type: decimal;
			list-style: decimal;
			list-style-position:inside;
			display:block;
			text-align:center;
			li {
				list-style: decimal;
			}
		}
	}
}
/****************************************
	Why
****************************************/
.page-template-why-php {
	.flexible-content {
		h1 {
			font-family:@stack2;
			font-size:@h2-size;
		}
		p {
			font-family:@stack2;
			font-size:20px;
			line-height:32px;
		}
		.row {
			padding:50px 0;
		}
		.col-md-8 {
			display:table-cell;
		}
		.col-md-4 {
			display:table-cell;
			vertical-align:middle;
			min-height:100%;
			text-align:center
		}
	}
}
/****************************************
		History
****************************************/
.page-template-history-php {
	.flexible {
		.row {
			padding:25px 0;
		}
	}
}
/****************************************
Staff
****************************************/
.page-template-staff-php {

}
/****************************************
	Donations
****************************************/
body.page-template-donations-php .slider {
	min-height:100%;
	display:block;
}
.page-template-donations-php .col-md-6{
	text-align:center;
}
.page-template-donations-php form#donation{
	text-align:center;
	background:#ccc;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	width:340px;
	padding:8%;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-moz-box-shadow: 0 0 5px 5px #bbb;
    -webkit-box-shadow: 0 0 5px 5px #bbb;
    box-shadow: 0 0 5px 5px #bbb;
    margin-bottom:50px;
	input {
		width:100%;
		margin:8px 0;	
		padding:2%;
		text-align:left;
		line-height:30px;
		font-size:24px;	
		font-family:@stack2;
		font-weight:bold;
	}
	h3 {
		margin-top:0;
		color:@body;
	}
	.stripe-button-el {
		background-image:none !important;
		background-image:url('images/stripe-btn.png') !important;
		background:transparent !important;
		margin-top:10px;
	}
}
#custom-donation {
	background:url('images/dollar.png') no-repeat top left #fff;
	background-position:10px;
	outline:0;
	border:solid 1px #999 !important;
	text-indent:25px;
	font-family:@stack2;
	color:@blue;
	font-weight:bold
}
.nav-social li {
	display:inline-block;
}
/*********************************
	Modal
*********************************/
.btn-primary {
	background:transparent;
	border:solid 1px #333;
	color:#666;
	font-family:@stack2;
	font-size:14px;
	margin-top:10px;
	font-weight:bold;
	.border-radius(0);
}
.btn-primary:hover, .btn-primary:focus {
	background:#333;
	color:#e3e3e3;
	border-color:#333;
}
#alternative-donations, #success {
	margin:150px 0 0;
	.modal-title {
		text-align:center;
		font-size:36px;
	}
	.modal-dialog {
		.modal-content {
			.close {
				border:solid 2px #333;
				border-radius:50%;
				-webkit-border-radius:50%;
				padding:3px 14px;
				opacity:.4;
				span {
					font-size:36px;
				}
			}
			.close:hover {
				opacity:.8;
			}
			background:#e2e2e2;
			padding:20px;
			strong {
				font-weight:bold;
				font-family:@stack2;
				font-size:18px;
			}
			p {
				font-size:16px;
				font-family:@stack2;
			}
		}
	}
}
.res-break {
	display:none;
}
.pagination {
	text-align:center;
	display:block;
	.page-numbers {
		font-size:18px;
		color:#555;
		font-family:@stack2;
	}
	.current {
		font-weight:bold;
	}
}
@media (max-width:767px) {
	#footer {
		strong {
			margin-top:10px;
			display:block;
		}
	}
	#wrap {

	    /* Negative indent footer by it's height */
	    margin: 0 auto -275px;
	}
	#push,#footer {
	    height: 275px;
	}
	.navbar-default .navbar-toggle {
		margin-top:40px;
	}
	.dropdown-menu {
		position:relative !important;
		width:100%;
	}
	.page-template-donations-php form#donation {
		width:260px;
		.stripe-button-el span {
			width: 220px;
			background-size: 100%;
			height: 53px;
		}
	}
	.res-break {
		display:block;
	}
	.mailing {
		input {
			margin:5px 0;
		}
		.subscribe {
			form button[type="submit"] {
				position:relative;
				outline:0;
				padding:0;
				margin:0;
				border:0;
				top:-37px;
				margin-bottom:-21px;
				border:solid 2px #000;
				display:inline-block;
				img {
					vertical-align:top;
				}
			}
		}
	}
	.navbar-brand {
		img {
			width:140px;
			height:auto;
			padding:15px 0 !important;
		}
	}
	.slider {
		background-size:100% !important;
		min-height:0;
		.slider-box {
			padding:15px;
			h1 {
				font-size:20px;
			}
			a.donate {
				display:none;
			}
		}
	}
}